* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.img-fond{
  background-image: url('../assets/images/dawn.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 1s ease-in-out;

}

.img-cat{
  background-image: url('../assets/images/kitten-large.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: 1s ease-in-out;

}


@media (min-width: 600px) and ( max-width: 992px){
  .img-fond{
    background-image: url('../assets/images/night.jpg');
  }
  .img-cat{
    background-image: url('../assets/images/kitten-small.png');
    transition: 1s ease-in-out;
  }
}


@media  (min-width: 993px){
  .img-fond {
    background-image: url('../assets/images/sunny-day.jpg');
}
  .img-cat{
    background-image: url('../assets/images/kitten-medium.png');
    transition: 1s ease-in-out;
}
}
